.down-arrow {
    margin-bottom: 25px;
}

#header {
    padding: 10px 5px;
}

#header .navbar {
    text-align: center;
}

#header .navbar .navbar-top {
    flex-direction: column;
    margin-bottom: 125px;
}

#header .navbar .navbar-top img {
    margin-bottom: 20px;
}

#header .navbar .navbar-top .navigation-links .navigation-link {
    margin-right: 15px;
}

#header .navbar .navbar-top .navigation-links .navigation-link a {
    font-size: 10px;
}

#header .navbar .navbar-top .navigation-links .navigation-link:last-child a {
    border: 1px solid #FFF;
    border-radius: 2px;
    padding: 2px;
}

.title-design .line {
    left: 25px;
}

.choose .choose-info {
    text-align: center;
}

.features {
    padding: 60px 25px;
}

.features .title-design .line:last-child {
    left: -25px;
    margin-left: 15px;
    margin-right: 0;
}

.features .feature-items .feature-item {
    width: 100%;
    padding: 0;
}

.features .slider {
    top: 150px;
}

.features .down-arrow {
    top: 135px;
    padding: 10px;
}

.testimonials {
    flex-direction: column;
    width: 100%;
    padding: 80px 10px 50px;
}

.testimonials .testimonials-info {
    width: 100%;
}

.testimonials img {
    margin-bottom: 0;
    margin-top: 50px;
    width: 100%;
}

@media(max-width: 320px) {
    .small-title {
        font-size: 10px;
    }
    
    .title {
        font-size: 40px;
    }

    #header .navbar .navbar-top .navigation-links .navigation-link {
        margin-right: 10px;
    }
    
    #header .navbar .navbar-top .navigation-links .navigation-link a {
        font-size: 8px;
    }

    #header .navbar .navbar-top {
        margin-bottom: 100px;
    }

    #header .header-info {
        width: 100%;
    }

    #header .header-info .header-info-btn {
        width: 100px;
        font-size: 7px;
    }

    #header .header-info .header-info-btn:last-of-type {
        margin-left: 5px;
    }    

    .title-design .line {
        position: relative;
    }

    .features {
        padding: 60px 10px;
    }

    .features .title-design .line:last-child {
        left: -25px;
        margin-left: 15px;
    }

    .features .slider i {
        font-size: 10px;
        padding: 5px;
    }
}

@media(max-width: 280px) {
    .features .title-design .line:first-child {
        left: 10px;
    }

    .features .title-design .line:last-child {
        left: -10px;
    }
}


@media(max-width: 240px) {
    .title {
        font-size: 30px;
    }

    #header {
        padding: 1px;
    }

    #header .navbar .navbar-top img {
        width: 200px;
        margin-bottom: 10px;
    }

    #header .navbar .navbar-top .navigation-links .navigation-link {
        margin-right: 5px;
    }
    
    #header .navbar .navbar-top .navigation-links .navigation-link a {
        font-size: 8px;
    }

    #header .navbar .navbar-top .navigation-links .navigation-link:last-child a {
        border-radius: 0px;
        font-size: 6px;
    }

    .title-design .line {
        left: 20px;
    }

    .features .title-design .line:first-child {
        left: 0px;
    }

    .features .title-design .line:last-child {
        left: 0px;
    }

    .features .feature-items .feature-item i {
        padding: 10px;
        font-size: 12px;
    }

    .features .feature-items .feature-item .feature-item-info {
        width: 90%;
        text-align: left;
        margin-left: 20px;
        font-size: 12px;
    }
}