#header .navbar .navbar-top .navigation-links .navigation-link {
    margin-right: 20px;
}

#header .navbar .navbar-top .navigation-links .navigation-link a {
    font-size: 12px;
}

#header .header-info {
    width: 80%;
}

.features .slider {
    top: 130px;
}

.features .down-arrow {
    top: 115px;
    padding: 10px;
}

.our-team .teams .team {
    width: 50%;
} 

.marketing {
    background-image: url("../images/marketing-bg.png");
    text-align: center;
    padding: 125px 20px 100px;
}

.marketing a:first-of-type {
    margin-right: 0;
}

footer .info {
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .info .social-media-icons {
    margin-top: 15px;
}

@media(max-width: 540px) {
    #header .header-info {
        width: 90%;
        text-align: center;
    }
    
    .title-design .line {
        position: relative;
        left: 60px;
    }
    
    .title-design .small-title{
        margin: auto;
    }

    .features .title-design .line:last-child {
        left: -60px;
    }

    .our-team .title-design .line:last-child {
        left: -60px;
    }
}